extends layout

block content
  h1 #{title}
  ul
    li 
      a(href='https://todo-app-list-8520147896321523.herokuapp.com/') List of Data
      //-I'm so sorry, couldn't get angular hooked up here in time
