extends layout

block content
    .row
        .col-12.col-md-8
            app-mars-dat

block scripts
   script(src='/build/runtime-es2015.edb2fcf2778e7bf1d426.js')
   script(src='/build/polyfills-es2015.2987770fde9daa1d8a2e.js')
//-   script(src='/build/main-es2015.d81d7b21d50e6e698624.js')